//GRID

$columns: 12;
$margin-width: 1%;
$column-width: (100% - (($columns - 1) * $margin-width))/$columns;

.container {
  font-family: sans-serif;
  margin: auto;

  & {
    max-width: 1140px;
    width: 100%;
  }

  &-fluid {
    max-width: 100%;
    width: 100%;
  }
}

.row {
  margin: 0 0 $margin-width;
}

.column {
  display: block;
  float: left;
  padding: 1em;
  margin: 0 $margin-width 1rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e5e5e5;
  color: #222;
  text-align: center;

  .row &:last-of-type {
    margin-right: 0;
  }
}

@for $i from 1 through $columns {
  .col-xl-#{$i} {
    width: ($i * $column-width) + (($i - 1) * $margin-width);
  }
}

@media screen and (max-width: 960px) {
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      width: ($i * $column-width) + (($i - 1) * $margin-width);
    }
  }
}

@media screen and (max-width: 720px) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: ($i * $column-width) + (($i - 1) * $margin-width);
    }
  }
}

@media screen and (max-width: 540px) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: ($i * $column-width) + (($i - 1) * $margin-width);
    }
  }
}